$blocks-margin-left: false; // false | modular scale ratio
$blocks-margin-right: false; // false | modular scale ratio
$blocks-margin-top: false; // false | modular scale ratio
$blocks-margin-bottom: false; // false | modular scale ratio

$blocks-padding-left: false; // false | modular scale ratio
$blocks-padding-right: false; // false | modular scale ratio
$blocks-padding-top: false; // false | modular scale ratio
$blocks-padding-bottom: false; // false | modular scale ratio