/**
 *
 * Theme Color Variables
 * Assigns global colors variables for use elsewhere.
 *
 **/

$primary:       {{ .Site.Params.theme_colors.primary | default "#AC5E0D" }};
$secondary:     {{ .Site.Params.theme_colors.secondary | default "#536F48" }};
$accent-1:      {{ .Site.Params.theme_colors.accent_1 | default "#FFDE2F" }};
$accent-2:      {{ .Site.Params.theme_colors.accent_2 | default "#5F336A" }};
$light:         {{ .Site.Params.theme_colors.light | default "#FFF5E7" }};
$dark:          {{ .Site.Params.theme_colors.dark | default "#5B5551" }};
$white:         {{ .Site.Params.theme_colors.white | default "#FFFCF6" }};
$black:         {{ .Site.Params.theme_colors.black | default "#252524" }};
$success:       {{ .Site.Params.theme_colors.success | default "#28a745" }};
$info:          {{ .Site.Params.theme_colors.info | default "#17a2b8" }};
$warning:       {{ .Site.Params.theme_colors.warning | default "#ffc107" }};
$danger:        {{ .Site.Params.theme_colors.danger | default "#dc3545" }};

$breakpoints: (
    xs: {{ .Site.Params.breakpoints.xs.bp | default "0" }},
    sm: {{ .Site.Params.breakpoints.sm.bp | default "576px" }},
    md: {{ .Site.Params.breakpoints.md.bp | default "768px" }},
    lg: {{ .Site.Params.breakpoints.lg.bp | default "992px" }},
    xl: {{ .Site.Params.breakpoints.xl.bp | default "1200px" }},
    xxl: {{ .Site.Params.breakpoints.xxl.bp | default "1400px" }},
    xxxl: {{ .Site.Params.breakpoints.xxxl.bp | default "2200px" }}
) !default;

$container-max-widths: (
    xs: {{ .Site.Params.breakpoints.xs.mw | default "none" }},
    sm: {{ .Site.Params.breakpoints.sm.mw | default "576px" }},
    md: {{ .Site.Params.breakpoints.md.mw | default "768px" }},
    lg: {{ .Site.Params.breakpoints.lg.mw | default "992px" }},
    xl: {{ .Site.Params.breakpoints.xl.mw | default "1200px" }},
    xxl: {{ .Site.Params.breakpoints.xxl.mw | default "1400px" }},
    xxxl: {{ .Site.Params.breakpoints.xxxl.mw | default "2200px" }}
) !default;

//Vendors
@import "vendors/mathsass/math";  // from Bugo SASS Utilities Module
@import "vendors/modularscale/modularscale";  // from Bugo SASS Utilities Module

@import "functions";
@import "mixins";
@import "helpers";

@import "bugo-youtube-variables";


/**
 * Video Modal
 * * Initial state is closed.
 *
 **/

.video-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000000;
  padding: 0;
  background-color: transparentize($black, .5);

  // * Open State

  &.open {
    display: block;
  }

  // * Video Window

  .video-window {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);

    @each $breakpoint, $value in $container-max-widths {
      @include respond-to( $breakpoint ){
        width: $value;
      }
    }

    .iframe-wrapper {
      padding-top: 56.2%;

      iframe,div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
      }
    }
  }
}


/**
 * Video Link
 *
 * * padding-bottom determines ratio of the thumbnail
 * * image fills the space using object-fit: cover
 **/

.youtube-thumbnail {
  @include ms-respond(margin-top,2);
  @include ms-respond(margin-bottom,2);
}

.video-link {
  display: block;
  padding-bottom: 52.6%;
  position: relative;
  color: $white;

  img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 !important;
  }

  // * Icon
  svg,.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 100;
    width: 20%;
    height: 20%;
  }
}
