/**
 * BUGO YOUTUBE
 * TODO: add global vars for use with aLl video modules
 **/

 @import "bugo-youtube-vars";
 @debug "Loading Bugo YouTube Module SASS";
 @import "custom-variables";

/**
 * Video Modal
 * * Initial state is closed.
 *
 **/

.video-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000000;
  padding: 0;
  background-color: transparentize($black, .5);

  // * Open State

  &.open {
    display: block;
  }

  // * Video Window

  .video-window {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);

    @each $breakpoint, $value in $container-max-widths {
      @include respond-to( $breakpoint ){
        width: $value;
      }
    }

    .iframe-wrapper {
      padding-top: 56.2%;

      iframe,div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
      }
    }
  }
}


/**
 * Video Link
 *
 * * padding-bottom determines ratio of the thumbnail
 * * image fills the space using object-fit: cover
 **/

.youtube-thumbnail {
  @include ms-respond(margin-top,2);
  @include ms-respond(margin-bottom,2);
}

.video-link {
  display: block;
  padding-bottom: 52.6%;
  position: relative;
  color: $white;

  img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 !important;
  }

  // * Icon
  svg,.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 100;
    width: 20%;
    height: 20%;
  }
}
