.video-link {
  display: block;
  padding-bottom: 100%;
  position: relative;
  color: $white;

  img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 100;
    width: 20%;
    height: 20%;
  }

}


.video-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000000;
  padding: 0;
  background-color: transparentize($black, .5);

  &.open {
    display: block;
  }

  .iframe-wrapper {
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 90vw;
    // max-width: 640px;
    transform: translateX(-50%) translateY(-50%);
    padding-top: 52.6%;

    iframe,div {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $white;
    }
  }
}